@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: CosmicVibrant;
  src: url("../public/CosmicVibrant.otf") format("opentype");
  unicode-range: U+00-FF;
}

*{
  font-family: 'CosmicVibrant';
  font-weight: 200;

}



.loading-screen{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  background-image: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 5s;
  z-index: 1;
  background-color: #111213;
  flex-direction: column;
  padding: 30px;
}

.loading-screen--started{
  opacity: 0;
  pointer-events: none;

}

